<div class="modal-shiftfix">
   
      <div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            Link Messages
          </h1>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <a class="btn btn-block btn-primary compose-btn" href="/sendlink.html">Send a Link</a>
            <ul class="list-group">
              <li class="list-group-item active">
                <a href="#">
                  <p>
                    <span class="badge">8</span>All
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                  <p>
                    <span class="badge">9</span>Inbox
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                  <p>
                    Sent
                  </p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-10 messages">
            <div class="widget-container">
              <div class="col-sm-4 message-list">
                <ul class="list-group">
                  <li class="list-group-item active">
                    <a href="#">
                      <div class="status"></div>
                      <h2>
                        Saleh Altayyar <span class="badge">2</span>
                      </h2>
                      <p>
                        Niners vs. Seahawks NFC Showdown
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status unread"></div>
                      <h2>
                        Raunak Mahesh
                      </h2>
                      <p>
                        Best Companies to Work for 2015
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status"></div>
                      <h2>
                        Porus Mistry<span class="badge">5</span>
                      </h2>
                      <p>
                        The Best 15 Dunks of 2013
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status"></div>
                      <h2>
                        Vivek Reddy<span class="badge">4</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  
                </ul>
              </div>
              <div class="col-sm-7 message-content">

                  <div class="container-fluid main-content">
                    <div class="row">
                      <!-- Conversation -->
                      <div class="col-lg-12">
                        <div class="scrollable chat chat-page">
                          <center>
                          <div class="widget-content padded">
                            <center> <a href="http://www.49ers.com/news/article-2/Full-Highlights-49ers-vs-Seahawks/db687cc2-a935-4fb3-abef-a9e313847e87">http://www.49ers.com/news/article-2/Full-Highlights-49ers-vs-Seahawks/db687cc2-a935-4fb3-abef-a9e313847e87</a></center>
                            <hr>
                            <ul>
                              <li>
                               <img width="30" height="30" src="http://www.entrepreneur.com/dbimages/person/h3/susan-johnston-v2.jpg" />
                                <div class="bubble">
                                  <a class="user-name" href="">Saleh Altayyar</a>
                                  <p class="message">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                  </p>
     
                                </div>
                              </li>
                              <li class="current-user">
                                <img width="30" height="30" src="http://www.entrepreneur.com/dbimages/person/h3/susan-johnston-v2.jpg" />
                                <div class="bubble">
                                  <a class="user-name" href="">Aditya Mahesh</a>
                                  <p class="message">
                                    Donec odio. Quisque volutpat mattis eros.
                                  </p>
     
                                </div>
                              </li>
                              <li>
                                <img width="30" height="30" src="http://www.entrepreneur.com/dbimages/person/h3/susan-johnston-v2.jpg" />
                                <div class="bubble">
                                  <a class="user-name" href="">Saleh Altayyar</a>
                                  <p class="message">
                                    Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. 
                                  </p>
                  
                                </div>
                              </li>
                            </ul>
                          </div>
                          <hr>
                          <div class="post-message">
                            <input class="form-control" placeholder="Write your message here and push enter to send" type="text">
                          </div>
                        </center>

   
    </div>
       </div>