 <div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            Messages/Inbox
          </h1>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <a class="btn btn-block btn-primary compose-btn" href="#">Compose</a>
            <ul class="list-group">
              <li class="list-group-item active">
                <a href="#">
                  <p>
                    <span class="badge">8</span>Inbox
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                  <p>
                    <span class="badge">9</span>Starred
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                  <p>
                    Sent
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                  <p>
                    <span class="badge">1</span>Drafts
                  </p>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                  <p>
                    Trash
                  </p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-10 messages">
            <div class="widget-container">
              <div class="col-sm-3 message-list">
                <ul class="list-group">
                  <li class="list-group-item active">
                    <a href="#">
                      <div class="status"></div>
                      <div class="favorite fa fa-star-o"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status unread"></div>
                      <div class="favorite fa fa-star-o"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status unread"></div>
                      <div class="favorite fa fa-star"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status"></div>
                      <div class="favorite fa fa-star"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status"></div>
                      <div class="favorite fa fa-star-o"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status"></div>
                      <div class="favorite fa fa-star"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status"></div>
                      <div class="favorite fa fa-star-o"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status"></div>
                      <div class="favorite fa fa-star-o"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status"></div>
                      <div class="favorite fa fa-star-o"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">
                      <div class="status"></div>
                      <div class="favorite fa fa-star-o"></div>
                      <h2>
                        John Smith<span>11/9/13</span>
                      </h2>
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque volutpat mattis eros…
                      </p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-9 message-content">
                <div class="message-header">
                  <p class="date pull-right text-muted">
                    November 13, 2013 &nbsp; 1:40 PM
                  </p>
                  <p>
                    <strong>John Smith</strong><br><span class="text-muted">To: Jane Smith</span><br>Check out this awesome theme!
                  </p>
                  <div class="btn-group message-actions">
                    <button class="btn btn-sm btn-default-outline"><i class="fa fa-trash-o"></i></button><button class="btn btn-sm btn-default-outline"><i class="fa fa-reply"></i></button><button class="btn btn-sm btn-default-outline"><i class="fa fa-reply-all"></i></button><button class="btn btn-sm btn-default-outline"><i class="fa fa-long-arrow-right"></i></button>
                  </div>
                </div>
                <div class="message-text">
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
                  </p>
                  <p>
                    Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
                  </p>
                  <p>
                    Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.
                  </p>
                  <p>
                    Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. Vivamus imperdiet nibh feugiat est.
                  </p>
                  <p>
                    Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet. Quisque fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus. Donec metus. Curabitur gravida.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>